<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/aboutme.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
</head>

<body>
    <div class="background about-me-background">
        <div class="about-me" id="delay">
            <h1 class="header">About Me</h1>
            <div class="line"></div>
            <div class="about-container">
                <p>Michael Bowles is an aspiring programmer and photographer focusing on
                    capturing the beauty of nature into the virtual world. Experiences include interning
                    for Optiver and IntegraDev. His works consist of
                    realistic photo-sim game created using Unreal Engine 5 and portfolios of various
                    natural photographies, from the mountains of Japan to the beaches of Australia. <br> <br>
                    He also loves cats.
                </p>
                <div class="profile">
                    <div class="line"></div>
                    <img src="./assets/profile.jpg">
                    <div class="line"></div>
                </div>
        
        
            </div>
        </div>
        <!-- <div class="about-me" id="delay">
            <h1 class="header align-left">"Personality"</h1>
            <div class="line"></div>
            <div class="about-container">
                <div class="profile">
                    <img class="transparent" src="./assets/profile.jpg">
                </div>
                <p>Michael Bowles has been noted by many to be a very eccentric individual,
                    to the point of annoyance. Fans of his stories such as Susato have also noted
                    that he seems very different than what they expected from reading the books.
                    At times very forgetful, Sholmes sometimes seems to not understand what is
                    going on at all, and can give deductions that do not even come close to being correct.
                    He is shown to be both frustrated and entertained by his own words, leading others to
                    question what he is truly thinking. He has the habit of getting on others' nerves, usually
                    Tobias Gregson, but this can extend to the targets of his deductions as well.
                </p>
        
        
            </div>
        </div> -->
    </div>
</body> 
