<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="./styles/experience.css">

<div class="swiper" id="background-swiper">
    <div class="swiper-wrapper" id="background-wrapper">
    </div>
</div> 

<div class="swiper" id="content-swiper">
    <div class="swiper-wrapper" id="content-wrapper">
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div> 

<!-- <div class="swiper" id="control-swiper">
    <div class="swiper-wrapper" id="control-wrapper">
    </div>
</div> -->

<script src="./components/experience.js"></script>
<script src="./components/addpne.js"></script>