<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/aboutme.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
</head>

<body>
    <div class="background">
        <div class="about-me fullscreen align-left" id="delay">
            <h1 class="header header-big">Michael Bowles</h1>

            <div class="line"></div>

            <div class="about-container">
                <div class="profile">
                    <div class="line"></div>
                    <img src="./assets/profile.jpg">
                    <div class="line"></div>
                </div>
            </div>

            <div class="line"></div>

            <div class="about-container row-container">
                <div class="circle" id="programming">
                    Software Programming
                </div>
                <div class="circle" id="simulation">
                    Simulation
                </div>
                <div class="circle" id="photo">
                    Photography
                </div>
            </div>
        </div>
    </div>
</body> 
