<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../public/favicon.ico" type="image/x-icon" />
    <title>nameHere</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>

    <!-- p5 js -->
    <script src="/src/libraries/p5.js" type="text/javascript"></script>
    <script src="/src/libraries/p5.dom.js" type="text/javascript"></script>

    <!-- p5 gui -->
    <script
      src="/src/libraries/quicksettings.js"
      type="text/javascript"
    ></script>
    <script src="/src/libraries/p5.gui.js" type="text/javascript"></script>

    <!-- p5 collide2d -->
    <script defer src="https://unpkg.com/p5.collide2d"></script>

    <!-- libraries -->
    <script src="/src/helpers/preload.js"></script>
    <script src="/src/helpers/codeWindow.js"></script>

    <!-- put sketch here -->
    <script src="/src/components/clt.js"></script>
  </head>

  <body>
    <main></main>
  </body>
</html>
